In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [51]:
df = pd.read_csv('/home/vyacheslav/Рабочий стол/MoscHak/Еще ДС/MegaRelation_hackaton_7.csv', delimiter=',')
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,id_зачисления,Статус,id_ученика,Дата_создания_записи,id_организации,...,date_zach_month,date_nach_zan_year,date_nach_zan_month,date_okon_zan_year,date_okon_zan_month,date_is_weekend,date_zach_is_weekend,date_nach_zan_is_weekend,week_day_okon_zan_is_weekend,Срок_обучения
0,0,0,0,0,0,1325954,0,3,2015-08-06 14:47:19,30,...,8,2014,1,2021,1,0,0,0,1,2557
1,1,1,1,1,1,2879918,0,3,2015-10-29 18:35:21,30,...,1,2014,1,2021,1,0,1,0,1,2557
2,2,2,2,2,2,2901258,0,3,2015-02-11 14:05:56,30,...,9,2014,1,2021,1,0,1,0,1,2557
3,3,3,3,3,3,2912724,0,3,2015-03-11 14:29:27,30,...,9,2014,1,2021,1,0,1,0,1,2557
4,4,4,4,4,4,2912819,0,3,2015-03-11 14:34:15,30,...,9,2014,1,2021,1,0,1,0,1,2557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724808,724808,724808,724808,724808,724808,26412667,1,1,2019-12-11 16:47:17,45,...,2,2019,2,2024,2,0,1,1,0,1826
724809,724809,724809,724809,724809,724809,26413582,1,1,2019-12-11 16:55:08,45,...,2,2019,2,2024,2,0,1,1,0,1826
724810,724810,724810,724810,724810,724810,26414272,0,3,2019-12-11 17:01:58,45,...,12,2017,1,2025,1,0,0,0,0,2922
724811,724811,724811,724811,724811,724811,26414912,1,1,2019-12-11 17:09:09,45,...,2,2019,2,2024,2,0,1,1,0,1826
724812,724812,724812,724812,724812,724812,26415197,1,1,2019-12-11 17:10:51,45,...,12,2017,1,2025,1,0,0,0,0,2922

In [ ]:
df['date_okon_zan'] = df['Плановая_дата_окончания_занятий'].str.extract(r'(\d{1,2}.\d{1,2}.\d{4})')

In [ ]:
# df['date_zach']

In [37]:
df['Плановая_дата_окончания_занятий'] = pd.to_datetime(df['Плановая_дата_окончания_занятий'])

In [ ]:
df['week_day_okon_zan'] = df['date_okon_zan'].dt.weekday

In [17]:
df['date_okon_zan'] = pd.to_datetime(df['date_okon_zan'])

In [18]:
df['date_okon_zan_year'] = df['date_okon_zan'].dt.year

In [19]:
df['date_okon_zan_month'] = df['date_okon_zan'].dt.month

In [27]:
df['week_day_okon_zan_is_weekend'] = np.where((df['week_day_okon_zan'] == 5) | (df['week_day_okon_zan'] == 6), 1, 0)

In [47]:
df['Срок_обучения'] = (df['Плановая_дата_окончания_занятий'] - df['Плановая_дата_начала_занятий']).dt.days

In [48]:
df['Срок_обучения']

0         2557
1         2557
2         2557
3         2557
4         2557
          ...
724808    1826
724809    1826
724810    2922
724811    1826
724812    2922
Name: Срок_обучения, Length: 724813, dtype: int64

In [53]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'id_зачисления', 'Статус', 'id_ученика',
       'Дата_создания_записи', 'id_организации', 'id_заявления', 'id_услуги',
       'дата_зачисления', 'дата_отчисления', 'причина_перевода',
       'предыдущая_запись_зачисления', 'следующая_запись_зачисления',
       'Плановая_дата_начала_занятий', 'Плановая_дата_окончания_занятий',
       'date', 'week_day', 'date_zach', 'week_day_d_zach', 'date_nach_zan',
       'week_day_d_nach_zan', 'date_okon_zan', 'week_day_okon_zan',
       'date_year', 'date_month', 'date_zach_year', 'date_zach_month',
       'date_nach_zan_year', 'date_nach_zan_month', 'date_okon_zan_year',
       'date_okon_zan_month', 'date_is_weekend', 'date_zach_is_weekend',
       'date_nach_zan_is_weekend', 'week_day_okon_zan_is_weekend',
       'Срок_обучения'],
      dtype='object')

In [59]:
df1 = df[['id_зачисления', 'Статус', 'id_ученика', 'id_организации', 'id_услуги',
       'week_day', 'week_day_d_zach', 'week_day_d_nach_zan', 'week_day_okon_zan',
       'date_year', 'date_month', 'date_zach_year', 'date_zach_month',
       'date_nach_zan_year', 'date_nach_zan_month', 'date_okon_zan_year',
       'date_okon_zan_month', 'date_is_weekend', 'date_zach_is_weekend',
       'date_nach_zan_is_weekend', 'week_day_okon_zan_is_weekend',
       'Срок_обучения']]

In [60]:
df1

,id_зачисления,Статус,id_ученика,id_организации,id_услуги,week_day,week_day_d_zach,week_day_d_nach_zan,week_day_okon_zan,date_year,...,date_zach_month,date_nach_zan_year,date_nach_zan_month,date_okon_zan_year,date_okon_zan_month,date_is_weekend,date_zach_is_weekend,date_nach_zan_is_weekend,week_day_okon_zan_is_weekend,Срок_обучения
0,1325954,0,3,30,39178,3,3,3,5,2015,...,8,2014,1,2021,1,0,0,0,1,2557
1,2879918,0,3,30,39178,3,5,3,5,2015,...,1,2014,1,2021,1,0,1,0,1,2557
2,2901258,0,3,30,39178,2,5,3,5,2015,...,9,2014,1,2021,1,0,1,0,1,2557
3,2912724,0,3,30,39178,2,5,3,5,2015,...,9,2014,1,2021,1,0,1,0,1,2557
4,2912819,0,3,30,39178,2,5,3,5,2015,...,9,2014,1,2021,1,0,1,0,1,2557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724808,26412667,1,1,45,660705,2,5,5,4,2019,...,2,2019,2,2024,2,0,1,1,0,1826
724809,26413582,1,1,45,660705,2,5,5,4,2019,...,2,2019,2,2024,2,0,1,1,0,1826
724810,26414272,0,3,45,660705,2,2,0,3,2019,...,12,2017,1,2025,1,0,0,0,0,2922
724811,26414912,1,1,45,660705,2,5,5,4,2019,...,2,2019,2,2024,2,0,1,1,0,1826
724812,26415197,1,1,45,660705,2,2,0,3,2019,...,12,2017,1,2025,1,0,0,0,0,2922

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724813 entries, 0 to 724812
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_зачисления                 724813 non-null  int64
 1   Статус                        724813 non-null  int64
 2   id_ученика                    724813 non-null  int64
 3   id_организации                724813 non-null  int64
 4   id_услуги                     724813 non-null  int64
 5   week_day                      724813 non-null  int64
 6   week_day_d_zach               724813 non-null  int64
 7   week_day_d_nach_zan           724813 non-null  int64
 8   week_day_okon_zan             724813 non-null  int64
 9   date_year                     724813 non-null  int64
 10  date_month                    724813 non-null  int64
 11  date_zach_year                724813 non-null  int64
 12  date_zach_month               724813 non-null  int64
 13  date_nach_zan_year            724813 non-null  int64
 14  date_nach_zan_month           724813 non-null  int64
 15  date_okon_zan_year            724813 non-null  int64
 16  date_okon_zan_month           724813 non-null  int64
 17  date_is_weekend               724813 non-null  int64
 18  date_zach_is_weekend          724813 non-null  int64
 19  date_nach_zan_is_weekend      724813 non-null  int64
 20  week_day_okon_zan_is_weekend  724813 non-null  int64
 21  Срок_обучения                 724813 non-null  int64
dtypes: int64(22)
memory usage: 121.7 MB

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724813 entries, 0 to 724812
Data columns (total 40 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Unnamed: 0                       724813 non-null  int64
 1   Unnamed: 0.1                     724813 non-null  int64
 2   Unnamed: 0.1.1                   724813 non-null  int64
 3   Unnamed: 0.1.1.1                 724813 non-null  int64
 4   Unnamed: 0.1.1.1.1               724813 non-null  int64
 5   id_зачисления                    724813 non-null  int64
 6   Статус                           724813 non-null  int64
 7   id_ученика                       724813 non-null  int64
 8   Дата_создания_записи             724813 non-null  object
 9   id_организации                   724813 non-null  int64
 10  id_заявления                     724813 non-null  int64
 11  id_услуги                        724813 non-null  int64
 12  дата_зачисления                  724813 non-null  object
 13  дата_отчисления                  724813 non-null  object
 14  причина_перевода                 724813 non-null  int64
 15  предыдущая_запись_зачисления     724813 non-null  int64
 16  следующая_запись_зачисления      724813 non-null  int64
 17  Плановая_дата_начала_занятий     724813 non-null  object
 18  Плановая_дата_окончания_занятий  724813 non-null  object
 19  date                             724813 non-null  object
 20  week_day                         724813 non-null  int64
 21  date_zach                        724813 non-null  object
 22  week_day_d_zach                  724813 non-null  int64
 23  date_nach_zan                    724813 non-null  object
 24  week_day_d_nach_zan              724813 non-null  int64
 25  date_okon_zan                    724813 non-null  object
 26  week_day_okon_zan                724813 non-null  int64
 27  date_year                        724813 non-null  int64
 28  date_month                       724813 non-null  int64
 29  date_zach_year                   724813 non-null  int64
 30  date_zach_month                  724813 non-null  int64
 31  date_nach_zan_year               724813 non-null  int64
 32  date_nach_zan_month              724813 non-null  int64
 33  date_okon_zan_year               724813 non-null  int64
 34  date_okon_zan_month              724813 non-null  int64
 35  date_is_weekend                  724813 non-null  int64
 36  date_zach_is_weekend             724813 non-null  int64
 37  date_nach_zan_is_weekend         724813 non-null  int64
 38  week_day_okon_zan_is_weekend     724813 non-null  int64
 39  Срок_обучения                    724813 non-null  int64
dtypes: int64(31), object(9)
memory usage: 221.2+ MB

In [33]:
df['Статус'] = df['Статус'].replace({2:0, 3:0})

In [35]:
df['Статус'].value_counts

<bound method IndexOpsMixin.value_counts of 0         0
1         0
2         0
3         0
4         0
         ..
724808    1
724809    1
724810    0
724811    1
724812    1
Name: Статус, Length: 724813, dtype: int64>

In [ ]:
df.columns

In [ ]:
df.loc[df['Плановая_дата_окончания_занятий'].isna(), 'Плановая_дата_окончания_занятий'] = df['Плановая_дата_окончания_занятий'].mode()[0]

In [62]:
df1.to_csv('/home/vyacheslav/Рабочий стол/MoscHak/Еще ДС/MegaRelation_hackaton_8.csv', encoding= 'utf-8')

In [ ]:
df11 = pd.read_csv('/home/vyacheslav/Рабочий стол/MoscHak/Еще ДС/MegaRelation_hackaton_3.csv')
df11

In [ ]:
df10 = df9[['id_зачисления', 'Статус', 'id_ученика', 'Дата_создания_записи',
       'id_организации', 'id_заявления', 'id_услуги', 'дата_зачисления',
       'дата_отчисления', 'причина_перевода', 'предыдущая_запись_зачисления',
       'следующая_запись_зачисления', 'Плановая_дата_начала_занятий',
       'Плановая_дата_окончания_занятий']]

In [ ]:
df11.info()

In [ ]:
df9.info()

In [ ]:
df[['Статус', 'id_ученика', 'id_заявления', 'причина_перевода', 'предыдущая_запись_зачисления', 'следующая_запись_зачисления']].astype(int)

In [ ]:
df8['Дата_создания_записи'] = df8['Дата_создания_записи'].astype('datetime64[ns]')

In [ ]:
df5['Дата_создания_записи'] = df5['Дата_создания_записи'].to_datetime()

In [ ]:
pd.to_datetime(df8['Дата_создания_записи'])

In [ ]:
df11

In [ ]:
df11.info()

In [ ]:
df11['date_zach'] = df11['дата_зачисления'].str.extract(r'(\d{1,2}.\d{1,2}.\d{4})')

In [ ]:
df11['date_zach']

In [ ]:
df11[df11['date_zach'] == '09.01.205 ']

In [ ]:
df11 = df11.drop(df11[(df11['date_zach'] == '09.01.205 ') ].index)

In [ ]:
df11

In [ ]:
df11.isin(["205"])

In [ ]:
df11

In [ ]:
df11['date_okon_zan'] = pd.to_datetime(df11['date_okon_zan'])

In [ ]:
df11['week_day_d_o'] = df11['date_otch'].dt.weekday

In [ ]:
df11['is_weekend'] = np.where((df11['week_day'] == 5) | (df11['week_day'] == 6), 1, 0)

In [ ]:
df11['is_weekend']

In [ ]:
df.loc[df['Плановая_дата_начала_занятий']=='215-01-09 00:00:00', 'Плановая_дата_начала_занятий'].index.values

In [ ]:
df['Статус'].value_counts()

In [ ]:
series['date'] = series['ikey'].str.extract(r'(\d{4}-\d{1,2}-\d{1,2})')

In [ ]:
df['id_ученика'].value_counts()

In [ ]:
df[df['следующая_запись_зачисления'] == df['предыдущая_запись_зачисления']]

In [ ]:
df[df['следующая_запись_зачисления'] == df['предыдущая_запись_зачисления']].count()

In [ ]:
df[df['Статус'] == np.nan].dropna()

In [ ]:
df.isna().sum()

In [ ]:
df['Статус'].fillna(np.nan, inplace=True)

In [ ]:
df[df['Статус'] == np.nan]

In [ ]:
df.isna().sum()

In [ ]:
df.dropna()

In [ ]:
df.isna().sum()

In [ ]:
df['Статус'].fillna(df['Статус'].mode())

In [ ]:
df['Статус'].mode()

In [ ]:
df['id_ученика'].fillna(df['id_ученика'].mode())

In [ ]:
df1 = df.fillna(df.mode(), inplace = True)

In [ ]:
df1.isna().sum()

In [ ]:
df1.describe()

In [ ]:
df1